<div class="container-ubicaciones">

    <div class="titulo-ubicaciones">
        <div class="cortina">
            <div class="texto-titulo">
                Alojamiento
            </div>
        </div>
    </div>


    <div class="container-hoja-comic">
        <div class="cortina-container">
            <div class="hoja-comic">

                <div class="vinneta uno">

                </div>
                <div class="vinneta dos">
                    ¿Estáis buscando el lugar perfecto para alojaros junto a en el día de nuestra boda? ¡No busquéis
                    más! El Parador os ofrece habitaciones cómodas y acogedoras con descuentos especiales para todos los
                    invitados para que disfrutéis de una estancia inolvidable. ¡No dudeis y haced que La Boda del
                    Infinito sea aún más especial!
                </div>
                <div class="vinneta tres">
                    Para obtener más información poneos en contacto con Sergio e Inés. ¡¡Os esperamos!!
                </div>
                <div class="vinneta cuatro">

                </div>
                <div class="vinneta cinco">

                </div>

            </div>
        </div>
    </div>
</div>